<div class="answers-container">
  <button class="answerButton" type="button" [style.font-size.px]="user.config.fontSize">
    LES ARVERNES
  </button>

  <button class="answerButton" type="button" [style.font-size.px]="user.config.fontSize">
    LES ROMAINS
  </button>

  <button class="answerButton" type="button" [style.font-size.px]="user.config.fontSize">
    LES GRECS
  </button>

  <button class="answerButton" type="button" [style.font-size.px]="user.config.fontSize">
    LES CELTES
  </button>
</div>
