.answerButton {
  //background-color: #EF6D58;
  border: 10px solid #EF6D58;
  font-family: "Arial Black";
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 30px;

  width: 40%;
}
