@import "../../styles/card";

.rectangle {
  position: absolute;
  width: 450px;
  height: 800px;
  background-color: #d9d9d9;
  margin-left: 70%;
  label{
    color: #000000;
  }
  button{
    position: absolute;
    background-color: #EF6D58;
    margin-top: 40%;
    margin-left: 35%;
    .valider{
      color: white;
      position: fixed;

    }
  }
  .resize{
    font-size: 24px;
    margin-left: 2%;
  }
  .close{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 1%;
    margin-left: 90%;
    background-color: red;
    color: white;
  }

}

.gauge-container {
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
  width: 44%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
}
.gauge-fill {
  position: absolute;
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.gauge-container2{
  width: 44%;
  height: 20px;
  margin-top: 10%;
  margin-left: 30%;
  background-color: #ccc;
  position: absolute;
  border-radius: 10px;
  .gauge-fill2{
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
}
input{
  position: absolute;
  margin-left: 30%;
}

button{
  position: absolute;
  margin-left: 80%;
  margin-top: 40%;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}


input[type="range"]::-moz-range-track {
  height: 10px;
  background-color: #6e5555;
  border-radius: 5px;
}
