

<div class="rectangle">
  <button class="close">X</button><br><br><br>
  <label class="resize">Taille d'écriture : </label><br>
  <div class="gauge-container">
    <div class="gauge-fill" [style.width.%]="value+50"></div>
  </div>
  <input type="number"  [(ngModel)]="value" (input)="updateValue(); changeFontSize()" min="-50" max="50" class="gauge-input">
  <br><br><br>
  <label class="resize">Différence entre les lignes :</label>
  <br><br><br><br><br><br>
  <label class="resize">Contraste :</label>
  <br><br><br><br><br><br>
</div>
<button class="button-card" [routerLink]="['/user-config',user.id]"><label class="valider">Valider</label></button>
<div class="resize">
  <app-game-page></app-game-page>
</div>




