<div class="question-container">
  <h1 class="title" [style.font-size.px]="user.config.fontSize*1.5" [style.line-height.px]="user.config.lineHeight" [style.letter-spacing.px]="user.config.letterSpacing">QUESTION {{currentQuestionIndex + 1}}/{{numberOfQuestions$}}</h1>

  <p (click)="onQuestionClick()" [style.font-size.px]="user.config.fontSize" [style.line-height.px]="user.config.lineHeight" [style.letter-spacing.px]="user.config.letterSpacing">{{currentQuestion?.text}}</p>

  <div >
    <div class="answers-container">

      <button class="answerButton" type="button" *ngFor="let answer of currentQuestion?.answers" (click)="this.gameService.checkAnswer(answer)" [style.font-size.px]="user.config.fontSize" [style.line-height.px]="user.config.lineHeight" [style.letter-spacing.px]="user.config.letterSpacing">
        {{ answer.text }}
      </button>
    </div>

  </div>


  <p [style.font-size.px]="user.config.fontSize" [style.line-height.px]="user.config.lineHeight" [style.letter-spacing.px]="user.config.letterSpacing"  >SCORE : {{playerScore}}</p>

  <div class="open-pop-up">
    <button class="button-card" (click)="onPopClick()">Ajuster la page</button>
  </div>

  <div class="pop-up" *ngIf="isPopupOpen">
    <app-pop-up (valider)="onValider()"></app-pop-up>
  </div>
</div>
