@import "../../../styles/card";

.question-container{
  text-align: center;
}

.open-pop-up{
  position: absolute;
  top: 80%;
  border-radius: 20px;
  left: 80%;
}

.adjust{
  font-size: 30px;
  padding: 20px;
  font-family: "Arial Black", serif;
  border-radius: 20px;
  color: white;
  background-color: #333333;
  border: none;
}

.answerButton {
  border: 10px solid #EF6D58;
  font-family: "Arial Black", serif;
  padding: 10px 20px;
  border-radius: 10px;
  width: 400px;
  margin: 50px;
}

.button-card{
  background-color: #333333;
  position: fixed;
  top: 50%; /* Adjust the top position to center the button vertically */
  left: 50%; /* Adjust the left position to center the button horizontally */
  transform: translate(-50%,-50%); /* Center the button using translate */
  width: 300px;
  font-size: 30px;
}

/* Style the hover effect of the card button */
.button-card:hover{
  background-color: #151515;
}

/* Style the answers grid container */
.answers-container {
  margin-top: 250px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center; /* Center the grid horizontally */
  place-items: center; /* Center the grid vertically */
}


