.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  margin-right: auto;
  text-decoration: black;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  margin-left: 20px;
  text-decoration: none;

}

.header__nav li:first-child {
  margin-left: 0;

}
.button-card{
  font-size: large;
  background: #FEF7E5;
  border: 1px solid black;
  margin-top: -4px;
}

a {
  text-decoration: none;
  color: black;
}

