<div class="card">
  <ng-container *ngIf="!editMode">
    <h3>Nom :{{ quiz.name }}</h3>
    <h3>Thème: {{ quiz.theme }}</h3>
    <button class="button-card" (click)="onEdit()">Modifier</button>
    <button class="button-card" (click)="onDelete()">Supprimer</button>
    <button class="button-card" (click)="onConfigure()">Configurer</button>
  </ng-container>
  <ng-container *ngIf="editMode">
    <form>
      <label for="name">Nom:</label>
      <input type="text" id="name" name="name" [(ngModel)]="quiz.name" required>

      <label for="theme">Thème:</label>
      <input type="text" id="theme" name="theme" [(ngModel)]="quiz.theme" required>

      <button class="button-card" (click)="onSave()">Enregistrer</button>
      <button class="button-card" (click)="onCancel()">Annuler</button>
    </form>
  </ng-container>
</div>
