<div>
  <h1>Statistiques des joueurs</h1>
  <table class="tableau-style">
    <thead>
    <tr>
      <th>Classement</th>
      <th>Joueur</th>
      <th>Total de points</th>
      <th>Statistiques par thème</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let user of this.sortByTotalPoints(userList)">
      <tr>
        <td>{{userList.indexOf(user)+1}}</td>
        <td>{{ user.lastName }} {{user.firstName}}</td>
        <td>{{ this.sumThemePoints(user.stats?.statsByTheme || []) }}</td>
        <td>
          <table>
            <thead>
            <tr>
              <th>Thème</th>
              <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let theme of user.stats?.statsByTheme">
              <tr>
                <td>{{ theme.themeName }}</td>
                <td>{{ theme.themePoints }}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
