.tableau-style{
  border-collapse: collapse;
  min-width: 400px;
  width: auto;
  text-align: center;
  box-shadow: 0 5px 50px rgb(0,0,0,0.15);
  cursor: pointer;
  margin: 100px auto;
  border: 3px solid #007bff ;
}
thead tr{
  background-color: #007bff;
  color: white;
}
th,td{
  padding: 15px 20px;
}
tbody tr , td, th{
  border: 1px solid #0e293d;

}
