@import "../../../styles/card";

.question-container{
  text-align: center;
}
.pop-up{
  position: absolute;
  margin-top: -25%;
  margin-left: 60%;
}
.open-pop-up{
  position: absolute;
  margin-top:5%;
  margin-left: 80%;
}

