<div class="text" xmlns="http://www.w3.org/1999/html">
  <div [ngClass]="{'high-contrast': user.config.contrast === 'high', 'low-contrast': user.config.contrast === 'low', 'normal-contrast':user.config.contrast==='normal'}" class="container">
    <div class="rectangle" [style.height.px]="user.config.fontSize * 30">
      <div class="NomPre">
        <label>{{user.firstName}}</label><br>
        <input type="firstName" id="firstName" name="firstName" [(ngModel)]="user.firstName">
        <br><br>
        <label>Nom</label><br>
        <input type="lastName" id="lastName" name="lastName" [(ngModel)]="user.lastName">
        <br><br>
        <label>Information supplémentaire</label><br>
        <textarea type="info" id="info" name="info" [(ngModel)]="user.info"></textarea>
        <button [routerLink]="['/user-stats']" [queryParams]="{ user: user.id }" class="button-card">Statistique</button>
      </div>
    </div>

    <div class="Buttons" [style.height.px]="user.config.fontSize * 30">
      <p>{{'Configuration du profil'}}</p>
      <br>
      <br><br>
      <label>Majuscule : </label><br>
      <div class="radio-group">
        <br>
        <input type="radio" name="maj"  [(ngModel)]="user.config.type" value="lowercase" checked> Non
        <input type="radio" name="maj"  [(ngModel)]="user.config.type" value="uppercase"> Oui
        <br><br>
        <label>Police d'écriture : </label><br>
        <div class="radio-group">
          <br>
          <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Arial Black" checked> Arial
          <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Helvetica Black"> Helvetica
          <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Verdana"> Verdana
          <br><br>
        </div>
        <br><br>
        <label>Taille d'écriture : {{user.config.fontSize}}</label><br>
        <input type="range" [(ngModel)]="user.config.fontSize" (input)="updateValue()" min="{{minFontSize}}" max="{{maxFontSize}}" class="gauge-input">
        <br>
        <label>Différence entre les lignes :</label><br>
        <input type="range" [(ngModel)]="user.config.lineHeight" (input)="updateValue()" min="16" max="60" class="gauge-input">
        <br>
        <label>L'espacement :</label><br>
        <input type="range" [(ngModel)]="user.config.letterSpacing" (input)="updateValue()" min="0" max="13" class="gauge-input">
        <br>
        <button class="button-card" (click)="onSaveConfig()" [routerLink]="['/config-pop-up']" [queryParams]="{ user: user.id }">Visualiser</button>
        <div class="valider">
          <button class="button-card" [routerLink]="['/user-list']" (click)="onSaveConfig()">Valider</button>
        </div>
      </div>
    </div>
  </div>
