<h1> Modification du profil</h1>

<div class="NomPre">
  <label>Prénom</label><br>
  <input type="firstName" id="firstName" name="firstName" [(ngModel)]="user.firstName">
  <br><br>
  <label>Nom</label><br>
  <input type="lastName" id="lastName" name="lastName" [(ngModel)]="user.lastName">
  <br><br>
  <label>Information supplémentaire</label><br>
  <textarea type="info" id="info" name="info" [(ngModel)]="user.info"></textarea>
  <br><br><br><br>
  <button class="button-card" [routerLink]="['/user-config']" [queryParams]="{ user: user | json }">Configuration</button>
  <br><br><br><br>
  <div class="Enr">
    <button class="button-card" routerLink="/user-list" (click)="onSave()">Enrengister</button>
  </div>
</div>


