<div class="card">
  <h2>Ajouter un quiz</h2>
  <label>
    Nom du quiz:
    <input type="text" [formControl]="quizForm.controls.name" ngModel required>
  </label>

  <label>
    Thème:
    <select [formControl]="quizForm.controls.theme">
      <option *ngFor="let theme of themeList" [value]="theme.name">{{ theme.name }}</option>
    </select>
  </label>

  <button type="submit" [ngClass]="{'button-card': quizForm.controls.name.valid, 'invalid-button-card': quizForm.controls.name.invalid}" (click)="onSubmit()" [disabled]="!quizForm.controls.name.value">
    Créer</button>
</div>



