<div class="rectangle">
  <button class="close" (click)="onValider()">X</button><br><br><br>
  <label>Taille d'écriture : </label><br>
  <input type="range"  [(ngModel)]="user.config.fontSize" (input)="updateValue()" min="{{min}}" max="{{max}}" class="gauge-input">
  <br><br><br>
  <label>Différence entre les lignes :</label><br>
  <input type="range"  [(ngModel)]="user.config.lineHeight" (input)="updateValue();" min="16" max="60" class="gauge-input">
  <br>
  <label> L'espacement :</label><br>
  <input type="range"  [(ngModel)]="user.config.letterSpacing" (input)="updateValue();"  min="0" max="13" class="gauge-input">
  <br>
  <br><br><br>
  <button class="button-card" (click)="onValider()" [routerLink]="['/user-config']" [queryParams]="{ name: user.firstName }"><label class="valider">Valider</label></button>
</div>


