<div class="rectangle">
  <button class="close" (click)="onValider()">X</button><br><br><br>
  <label>Majuscule : </label><br>
  <div class="radio-group1">
    <input type="radio" name="maj" [(ngModel)]="user.config.type" value="lowercase" checked> Non
    <input type="radio" name="maj" [(ngModel)]="user.config.type" value="uppercase"> Oui
    <br><br>
  <label >Police d'écriture : </label><br>
  <div class="radio-group">
    <br>
    <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Arial Black" checked> Arial
    <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Helvetica Black"> Helvetica
    <input type="radio" name="font"  [(ngModel)]="user.config.font" value="Verdana"> Verdana
    <br><br>
  </div>
  <label>Taille d'écriture : </label><br>
  <input type="range"  [(ngModel)]="user.config.fontSize" (input)="updateValue()" min="{{min}}" max="{{max}}" class="gauge-input">
  <br>
  <label>Différence entre les lignes :</label><br>

  <input type="range"  [(ngModel)]="user.config.lineHeight" (input)="updateValue();" min="16" max="60" class="gauge-input">
  <br>
  <label> L'espacement :</label><br>
  <input type="range"  [(ngModel)]="user.config.letterSpacing" (input)="updateValue();"  min="0" max="13" class="gauge-input">
  <br>
  <br><br><br>
  <button class="button-card" (click)="onValider()"><label class="valider">Valider</label></button>
</div>
</div>
