<img src="../../assets/resources/Polytechnicesophia.png">
<br><br><br>
<p>Nous sommes un groupe d'étudiants de Polytech Nice Sophia en filière informatique (SI3)
  et nous avons créé ce site dans le cadre de notre projet de PS6.</p>
<div class="ligne"></div>

<div class="students-container">
  <div class="student">
    <h2>ACHEHBOUNE Mohammed Amine</h2>
    <label>Email : <a href="mailto:mohammed-amine.achehboune@etu.univ-cotedazur.fr">mohammed-amine.achehboune@etu.univ-cotedazur.fr</a></label>
  </div>
  <div class="student">
    <h2>ASSIMPAH Komi Jean Paul</h2>
    <label>Email : <a href="mailto:komi-jean-paul.assimpah@etu.univ-cotedazur.fr">komi-jean-paul.assimpah@etu.univ-cotedazur.fr</a></label>
  </div>
  <div class="student">
    <h2>EL BETIOUI Jamel Eddine</h2>
    <label>Email : <a href="mailto:jamal-eddine.el-betioui@etu.univ-cotedazur.fr">jamal-eddine.el-betioui@etu.univ-cotedazur.fr</a></label>
  </div>
  <div class="student">
    <h2>BEIDOURI Saad</h2>
    <label>Email : <a href="mailto:saad.beidouri@etu.univ-cotedazur.fr">saad.beidouri@etu.univ-cotedazur.fr</a></label>
  </div>
</div>


