
<div class="question-config">
  <form>
    <label for="question-input">Question</label><br>
    <input type="text" id="question-input" name="question" [(ngModel)]="question.text" >
    <br>
  </form>
</div>
<br><br><br><br>
<div class="card">
  <form [formGroup]="answerForm" >
    <label for="text">Nouvelle réponse</label>
    <br>
    <input type="text" id="text" [formControlName]="'text'">
    <br><br>
    <input type="checkbox" id="isCorrect" [formControlName]="'isCorrect'">
    <label for="isCorrect">Réponse juste</label>
    <br><br>
    <button class="button-card" type="submit" (click)="addAnswer()">Ajouter</button>
  </form>
</div>
<br><br><br><br>
<div class="answer-config" *ngIf="question">
  <div class="answer-row" *ngFor="let answer of this.answers; let i = index">
    <div class="card">
      <br>
      <div *ngIf="answer.isCorrect">
        <label class="answer">{{answer.text}}</label>
        <br><br>
        <label for="correct{{i}}">
          &#9989; Réponse correcte
        </label>
        <br><br>
        <button class="button-card" (click)="deleteAnswer(answer)">Supprimer</button>
      </div>
      <div *ngIf="!answer.isCorrect">
        <label class="answer">{{answer.text}}</label>
        <br><br>
        <label for="correct{{i}}">
          &#10060; Réponse incorrecte
        </label>
        <br><br>
        <button class="button-card" (click)="deleteAnswer(answer)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <button id="Supprimer" (click)="deleteQuestion(quiz,question)" [routerLink]="['/quiz-config',quiz.id]">Supprimer</button>
</div>
<div class="container">
  <button id="valider" [routerLink]="['/quiz-config',quiz.id]">Valider</button>
  <button (click)="deleteQuestion(question)" [routerLink]="['/quiz-config',quiz.id]">Supprimer</button>
</div>
<br>
<br>
