
<div class="question-config">
  <form>
    <label for="question-input">Question</label><br>
    <input type="text" id="question-input" name="question">
    <br>
  </form>

  <select name="nbReponse" id="nbReponse" (click)="nbAnswer()">
    <option value="">--Choisissez le nbre de propositions de reponses--</option>
    <option value="deux">2</option>
    <option value="trois">3</option>
    <option value="quatre">4</option>
  </select>
</div>
<br><br><br><br>
<div class="card">

</div>
<br><br><br><br>

<div *ngIf="selectedValue =='deux' ">
  <!-- Affichage des formes en fonction de la valeur sélectionnée -->
</div>
<!--<div class="answer-config" *ngIf="question">
  <div class="answer-row" *ngFor="let answer of question.answers; let i = index">
    <div class="card">
      <br>
      <input type="text" id="answer{{i}}" [(ngModel)]="answer.text" >
      <br>
      <label for="correct{{i}}">
        <input type="checkbox" id="correct{{i}}" [(ngModel)]="answer.isCorrect">
        Réponse juste
      </label>
      <br><br>
      <button class="button-card" (click)="deleteAnswer(answer)">Supprimer</button>
    </div>
  </div>
</div>-->
<br>
<br>
