@import '../../../styles/card.scss';

.buttons{
  .button-card{
    background-color: red;
    margin-left: 85%;

  }
}

.question-config{
  margin-left: 25%;
  font-size: 27px;
  label{
    margin-left: 25%;
  }
  #question-input{
    font-size: 21px;
    text-align: center;
    width: 60%;
    height: 90px;
    border-radius: 18px;
  }
}
.answer-config {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 20px;

  .answer-row {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 1rem;
  }

  .answer-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}




