form {
  text-align: center;
}

label{
  font-size: 3vw;
  margin-top: 300%;
}

#password{
  width: 30%;
  margin-top: 5%;
}
.button-card{
  background-color: #3b4e83;
  color: #f2f2f2;
  padding: 10px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 30px;
}
