@import '../../styles/card';

.emailPass{
  margin-left: 35%;
  width: 200px;
  label{
    font-size: 27px;
  }
  input{
    width: 200%;
  }
}

.buttons{
  margin-left: 35%;

  a{
    text-decoration: none;
    color: white;
    text-align: center;
  }
  button {
    background-color: #EF6D58;
    color: #f2f2f2;
    font-family: "Arial Black";
    padding: 10px 20px;
    width: 40%;
    border-radius: 10px;
  }
}

.NewAcc{
  margin-left: 38%;
  font-size: 14px;
}
