<h2 [style.text-transform]="user.config.type"
    [ngClass]="{'high-contrast': user.config.contrast === 'high',
     'low-contrast': user.config.contrast === 'low',
      'normal-contrast':user.config.contrast==='normal'}"
    [ngStyle]="{'font-family':user.config.font}" class="title">Choisissez un théme</h2>

<div [style.text-transform]="user.config.type"  [ngClass]="{'high-contrast': user.config.contrast === 'high', 'low-contrast': user.config.contrast === 'low', 'normal-contrast':user.config.contrast==='normal'}"  [ngStyle]="{'font-family':user.config.font}" class="theme-content">
    <li [ngClass]="{'high-contrast': user.config.contrast === 'high',
     'low-contrast': user.config.contrast === 'low', 'normal-contrast':user.config.contrast==='normal'}"
        *ngFor="let theme of themeList">
      <a [routerLink]="['/select-quiz']" [queryParams]="{ theme: theme.name,user: user.id }">{{theme.name}}</a>
    </li>
</div>
