html, body {
  background-color: #FEF7E5;
  font-family: "Arial Black","Helvetica","Verdana", serif;
}

.title{
  text-align: center;
}
.high-contrast {
  color: #000000;
}

.normal-contrast {
  color: #4d4d4d;
}
.low-contrast{
  color: rgba(0, 0, 0, 0.53);

}
