@import "../styles/card";

.navigation {
  text-decoration: none;
}

.main-content {
  padding: 0 1em 0 1em;
  min-height: 100%;
}

html, body {
  background-color: #FEF7E5;
  overflow: hidden;
}
.buttons {
  position: absolute;
  bottom: 20px;
  left: 30%;
  transform: translate(-60%,20%);


  a {
    text-decoration: none;
    color: white;
    text-align: center;
  }

  button {
    background-color: #EF6D58;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
    border: none;
  }
  button:hover{
    background-color: #ec7966;
  }

}

.container {
  display: inline-block;
  margin-right: 0;

  img {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    vertical-align: middle;
    width: 900px;
    transform: translate(10%,-20%);
  }

  .text-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 80px;
    margin-left: 30px;
    width: 40%;
    transform: translateY(-20%);
  }

  div {
    display: block;
  }
}
#home-page{
  width: 50%;
}

.main-content{
  margin-top: 100px;
}



