
<body>
<div class="main-content">
  <div>
    <app-header></app-header>
  </div>
  <nav *ngIf="router.url === '/'">
    <div class="container">
        <img [src]="HomePagePic" >
        <div class="text-container">
          <div>PolyQuiz</div>
          <div>est là pour</div>
          <div>T'AIDER</div>
        </div>
    </div>
    <div class="buttons">
      <br><br>
      <a routerLink="/add-quiz"><button class="button-card>" >Configuer un quiz</button></a>
      <br><br>
      <a routerLink="/user-list"><button class="button-card>" >Gérer les utilisateurs</button></a>
      <br><br>
      <a routerLink="/login"><button class="button-card>" >Se connecter</button></a>
    </div>

  </nav>
</div>
<router-outlet></router-outlet>
</body>





