@import "../styles/card";

.navigation {
  text-decoration: none;
}

.main-content {
  padding: 0 1em 0 1em;
  min-height: 100%;
}

html, body {
  background-color: #FEF7E5;
}
.buttons {
  margin-left: 200px;
  display: flex;

  a {
    text-decoration: none;
    color: white;
    text-align: center;
  }

  button {
    background-color: #EF6D58;
    color: #f2f2f2;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
  }

}

.container {
  display: inline-block;
  margin-right: 0px;

  img {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    vertical-align: middle;
    width: 900px;
  }

  .text-container {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    font-size: 100px;
    width: 40%;
  }

  div {
    display: block;
  }
}
#home-page{
  width: 50%;
}



