<app-header *ngIf="!router.url.startsWith('/game-page') && !router.url.startsWith('/config-pop-up')"></app-header>
<body>
<div class="main-content">
  <nav *ngIf="router.url === '/'">
    <div class="container">
        <img [src]="HomePagePic" id="home-page">
        <div class="text-container">
          <div>Quiz For All</div>
          <div>est là pour</div>
          <div>vous aider</div>
        </div>
    </div>
    <div class="buttons">
      <a routerLink="/login"><button class="button-card" >Se connecter</button></a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
</body>
