<app-user-form></app-user-form>
<br><br>
<h2>Liste d'utilisateurs</h2>
<div class="user-list">
  <div class="user" *ngFor="let user of userList">
    <div class="card">
      <div class="user-image">
       <img src="../../../assets/resources/profilPIc.png" >
      </div>
      <h2>{{user.firstName}}  {{user.lastName}}</h2>
      First Name : {{user.firstName}}<br>
      Last Name : {{user.lastName}}<br>
      ID : {{user.id}}<br><br>
      <a routerLink="['/user-card',id]"><button class="button-card" (click)="updateUser(user)">Modifier</button></a>
      <button class="button-card" (click)="deleteUser(user)">Supprimer</button>
    </div>
  </div>
</div>
