@import '../../../styles/card.scss';
.user-list {
  display: flex;
  flex-wrap: wrap;
}
.user {
  flex-basis: 25%;
  margin-bottom: 20px;
}
.button-card {
  margin-right: 20px;
}

a{
  text-decoration: none;
}

img{
  width: 120px;
  align-items: center;
}
