<app-header></app-header>
<app-user-form id="user-form"></app-user-form>

<br><br>

<h1>Liste des patients</h1>

<div class="user-list">
  <div class="user" *ngFor="let user of userList">
    <div class="card">
      <div class="user-image">
        <img src="../../../assets/resources/profilPIc.png">
      </div>
      <h2>{{user.firstName}}  {{user.lastName}}</h2>
      Prénom : {{user.firstName}}<br>
      Nom : {{user.lastName}}<br>
      <br>
      <a [routerLink]="['/user-config']" [queryParams]="{ name: user.firstName }"><button class="button-card">Configurer</button>
      </a>

      <button class="button-card" (click)="deleteUser(user)">Supprimer</button>
    </div>
  </div>
</div>

<app-user-stats></app-user-stats>
